p {
    font-family:"Rubik", sans-serif;
    font-weight:300;
    font-family: "";
}

li:first-child{
    color:red;
}
li:last-child{
    color:green
}
li:nth-child(3){
    color:blue
}

ul::before{
    content: 'hello, this is vrtual content';
    color:brown
}

ul::after {
    content: 'this is virtula content';
    color:chocolate
}
