*{
    padding: 0;
    margin: 0;
}
.grid{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,100px);
    gap:10px;

}    

.box{
    background-color: cadetblue;
    color:white;
    text-align: center;
    border: 1px solid rgb(214, 237,274);
}    
.one{
    grid-column: 1/3;
    grid-row: 1/3;
}
.two{
    grid-column: 3/4;
    grid-row: 1/2;
}
.three{
    grid-column: 4/5;
    grid-row: 1/2;
}
.four{
    grid-column: 3/4;
    grid-row: 2/3;
}
.five{
    grid-column: 4/5;
    grid-row: 2/3;
}
.six{
    grid-column: 1/2;
    grid-row: 3/4;
}
.seven{
    grid-column: 2/3;
    grid-row: 3/4;
}
.eight{
    grid-column: 1/2;
    grid-row: 4/5;
}
.nine{
    grid-column: 2/3;
    grid-row: 4/5;
}
.ten{
    grid-column: 3/5;
    grid-row: 3/5;
}
.eleven{
    grid-column: 1/3;
    grid-row: 5/7;
}
.twelve{
    grid-column: 3/4;
    grid-row: 5/6;
}
.thirteen{
    grid-column: 4/5;
    grid-row:5/6;
}
.fourteen{
    grid-column: 3/4;
    grid-row: 6/7;
}
.fifteen{
    grid-column:4/5 ;
    grid-row: 6/7;
}


@media (min-width: 640px) and (max-width: 1023px) {

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: repeat(8, 150px);
        gap: 15px;
        height: auto;
    }

    .box {
        grid-column: auto;
        grid-row: auto;
    }

    .one {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .two {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .three {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }


    .four {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .five {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .six {
        grid-column: 2 / 3;
        grid-row: 3 / 5; 
    }

    .seven {
        grid-column: 1 / 2;
        grid-row: 5 / 7;
    }

    .eight {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    .nine {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }

    .ten,
    .eleven,
    .twelve,
    .thirteen,
    .fourteen,
    .fifteen {
        display: none;
    }
}