*{
    padding:0;
    margin: 0;
}

.grid{
    background-color: coral;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,200px);
}
.box{
    background-color: cadetblue;
    color:white;
    text-align: center;
    border: 1px solid rgb(214, 237,274);
}

.header{
    grid-column: 1/6;
    grid-row:1/2;
}
.title{
    grid-row:2/3;
    grid-column: 2/6;
}
.sidebar{
    grid-column: 1/2;
    grid-row:2/5;
}
.article1{
    grid-column: 2/3;
    grid-row:3/5;
}
.article2{
    grid-column: 3/4;
    grid-row:3/5;
}
.article3{
    grid-column: 4/5;
    grid-row:3/5;
}

.footer{
    grid-column: 1/6;
    grid-row:5/6;
}