*{
    padding: 0;
    margin: 0;
}
.grid{
    height: 78vh;
    width: 30vw;
    margin: 0px auto;
    margin-top: 50px;
    border: 4px solid black;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6,100px);
    gap:10px
}    

.box{
    background-color: cadetblue;
    color:white;
    text-align: center;
    border: 1px solid rgb(214, 237,274);
}    

.one{
    grid-column: 1/3;
    grid-row:1/2;
}
.two{
    grid-column: 3/4;
    grid-row:1/2;
}
.three{
    grid-column: 1/2;
    grid-row:2/3;
}
.four{
    grid-column: 2/4;
    grid-row:2/4;
}
.five{
   grid-column:1/2;
   grid-row:3/5;
}
.six{
    grid-column: 2/4;
    grid-row:4/5;
}
.seven{
    grid-column: 3/4;
    grid-row:4/5;
}
.eight{
    grid-column:1/2;
    grid-row:5/6
}
