body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(34, 32, 32);
    color:white;
    padding:1vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color:white;
}

main {
    display: flex;
    flex:1;
    background-color: rgb(235, 237, 239);
}

.sidebar{
    width: 200px;
    background-color: rgb(73, 70, 70);
    color: white;
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.main.content{
    flex:1;
    padding:24px 30px;
}
.main.content h1{
    background-color: rgb(168, 202, 243);
    padding: 20px;
}

.main.content h1 span {
    background-color:rgb(168, 202, 243);
    display: block;
    font-size:16px;
    margin-top: 10px;
}    

.cards{
    display: flex;
    gap:20px;
}
.card{
    background-color: white;
    flex:1;
    height:130px ;
    border:1px solid #ccc;
    display: flex;
    align-items: center;
}

footer{
    background-color: rgb(34, 32, 32);
    padding: 1vh;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h5{
    padding-left: 20px;
}

footer nav a{
    color:white;
    gap:20px;
}