*{
    padding: 0;
    margin: 0;
}

body{display: flex;}


.fade-in>p{
    display:inline-block;
    width: 200px;
    background-color: burlywood;
    margin: 50px;
    transform: scale(0.9);
    animation: fade-in 2s ease-in forwards, slide-in 2s ease-out forwards, color-change 2s ease-in-out forwards, rotate 1s ease-out forwards;
}    

.dots{
    display: flex;
    gap:6px; 
    margin: 50px;
    margin-left:0px;
}
.dots span {
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    display: inline-block;
    animation: dots 2s infinite alternate;
}
.dots span:nth-child(2) {
    animation-delay: 0.5s;
  }
  .dots span:nth-child(3) {
    animation-delay: 1s;
  }



@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide-in{
    from{
        transform: translateX(50px);
    }
    to{
        transform:translateX(0)
    }
}
@keyframes color-change{
    0%{
        background-color: burlywood;
    }
    50%{
        background-color: rgb(231, 107, 107);
    }
    100%{
        background-color: lightblue;
    }
}

@keyframes rotate{
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }


@keyframes dots{
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}
